/*Fond*/
.background{
background-color:#B8B7E2;
float:left;
width:310px;
height:1000px;
margin:10px;
}
/*------Lunes------*/
/*Lune 1*/
#overMoon1{
    background-color:#B8B7E2;
    z-index:1;
    position:absolute;
    border-radius:50%;
    height:200px;
    width:200px;
    margin-top:25px;
    margin-left:45px;
}

#moon1{
    background-color:#FFFEF1;
    position:absolute;
    border-radius:50%;
    height:230px;
    width:230px;
    margin:10px;
}
/*Lune 2*/
#moon2{
    background-color:#FFFEF1;
    z-index:1;
    border-radius:115px 0 0 115px;
    position:absolute;
    width:115px;
    height:230px;
    margin:10px;
}
/*Lune 3*/
#moon3{
    background-color:#FFFEF1;
    z-index:1;
    border-radius:0 115px 115px 0;
    position:absolute;
    width:115px;
    height:230px;
    margin:10px;
    margin-left:125px;
}
/*Lune 4*/
#overMoon4{
    background-color:#B8B7E2;
    z-index:1;
    position:absolute;
    border-radius:50%;
    height:200px;
    width:200px;
    margin-top:25px;
    margin-right:45px;
}

#moon4{
    background-color:#FFFEF1;
    position:absolute;
    border-radius:50%;
    height:230px;
    width:230px;
    margin:10px;
}
/*Fond des lunes*/
.moonBackground{
    background-color:#B8B7E2;
    position:absolute;
    margin-top:10px;
    margin-right:30px;
    margin-left:30px;
    width:250px;
    height:250px;
    border-radius:50%;
}
/*------Blocs de couleur------*/
/*Colonne 1*/
#block1Column1{
    background-color:#DFD4F8;
    height:420px;
    margin-right:35px;
    margin-left:35px;
    margin-top:20px;
}

.blockColumn1{
    background-color:#DFD4F8;
    height:250px;
    margin-right:35px;
    margin-left:35px;
    margin-top:15px;
}
/*Colonne 2*/
#block1Column2{
    background-color:#D4E7F8;
    height:420px;
    margin-right:35px;
    margin-left:35px;
    margin-top:20px;
}

.blockColumn2{
    background-color:#D4E7F8;
    height:250px;
    margin-right:35px;
    margin-left:35px;
    margin-top:15px;
}
/*Colonne 3*/
#block1Column3{
    background-color:#D4F8F1;
    height:420px;
    margin-right:35px;
    margin-left:35px;
    margin-top:20px;
}

.blockColumn3{
    background-color:#D4F8F1;
    height:250px;
    margin-right:35px;
    margin-left:35px;
    margin-top:15px;
}
/*Colonne 4*/
#block1Column4{
    background-color:#D4F8DC;
    height:420px;
    margin-right:35px;
    margin-left:35px;
    margin-top:20px;
}

.blockColumn4{
    background-color:#D4F8DC;
    height:250px;
    margin-right:35px;
    margin-left:35px;
    margin-top:15px;
}